.sidebar_container{
  margin-top: 0px;
  width: 300px;
  height: 100vh;
  box-sizing: border-box;
  float: left;
  /* overflow-y: scroll; */
  overflow-x: hidden;

}

.sidebar_list{
  overflow-y: scroll;
  height: 85%;
}

button {
  /* position: relative; */
  border: none;
  background: skyblue;
  outline: none;
  width: 300px;
  color: white;
  font-size: 25px;
  padding: 8px 15px;
  z-index: 11;
  margin-top: 0px;
 
}

ul {
  list-style: none;
  padding: 0;
}

button:hover {
  background: blue;
  transition: 0.2s;
}

input {
  text-align: center;
  font-size: 15px;
  width: 100%;
  padding: 10px 0px;
  outline: none;
  border: none;
  background: transparent;
  color: white;
}
